@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*1.Hangi Action,2.Controller ismi,3.Formmethoddeğeri*@
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group-sm">
        @Html.Label("Kategori adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
        <br />
        <br />
        @Html.Label("Kategori açıklaması")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
        <br />
        <br />


    </div>
    <button class="btn btn-success">Kaydet</button>
}